body {

}

/*
.container {
  max-width: 80%;
  display: flex;
  justify-content: center;
} */

/* table styling start */
table {
  width: 1px;
  height: 1px;
  border-spacing: 0px;
}
tr {
  height: 30px;
}
.table > tbody > tr > th,
.table > tbody > tr > td {
  vertical-align: middle;
}
.btn-row > .title-cell {
  vertical-align: middle;
  padding-left: 15px;
}
.title-cell {
  font-size: 18px;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
}
.header-cell {
  vertical-align: middle;
  text-align: center;
}
.title-row > th {
  height: 60px;
  font-size: 20px;
  background-color: #203764;
  color: white;
  text-align: center;
}
.result-cell {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}
/* table styling end */

/* Style custom radio buttons */
.radioButton {
  height: 100%;
  min-height: 100%;
  width: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  display: block;
}
.radioButton input {
  position: absolute;
  opacity:  0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  height: 100%;
  min-height: 100%;
  width: 100%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
.radioButton:hover input[value="1"] ~ .checkmark {
  background-color: lightgreen;
}
.radioButton:hover input[value="2"] ~ .checkmark {
  background-color: yellow;
}
.radioButton:hover input[value="3"] ~ .checkmark {
  background-color: red;
}
.btn-cell input[value="1"]:checked ~ .checkmark {
  background-color: lightgreen;
  font-weight: bold;
}
.btn-cell input[value="2"]:checked ~ .checkmark {
  background-color: yellow;
  font-weight: bold;
}
.btn-cell input[value="3"]:checked ~ .checkmark {
  background-color: red;
  font-weight: bold;
}
.radioButton:hover input:checked ~ .checkmark {
  background-color: white;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* End of Radio button style */


/* Style of sidebar with results */
.resultbar {
  width: 300px;
  position: fixed;
  border-radius: 40px;
  float: left;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: blue;
  color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 40px;
}
.resultRow {
  justify-content: right;
  padding-left: 20px;
  font-size: 30px;
}
.resultBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
  color: black;
  border-radius: 10px;
  width: 70px;
  min-height: 40px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.reset_btn {
  font-size: 18px;
  color: black;
  background-color: white;
  margin-left: 120px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
/* End of sidebar style */


footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}

footer li img {
  width: 32px;
  height: 32px;
}